/* CSS declarations go here */


body{
	width:100%;
	margin: 0;
	padding: 0;
}

div#login-buttons{
	position: fixed;
	width:100%;
	text-align: center;
	background: rgba(0,0,0,0.8);
	padding:2px 0;
}
div.login-display-name{
	color:white;
	font-family: Helvetica, Arial, sans-serif;
}

/*============================
		game canvas
=============================*/

div#gamecanvas{
	width: 2500px;
	height: 2500px;
	background:url(/images/bg.jpg) repeat;
}